* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 100vh;
}
